[submodule "ThirdParty/moviemaker-cpp"]
	path = ThirdParty/moviemaker-cpp
	url = https://github.com/apc-llc/moviemaker-cpp.git
[submodule "ThirdParty/skeeto-bmp"]
	path = ThirdParty/skeeto-bmp
	url = https://github.com/skeeto/bmp.git
